body {
  font-family: "Poppins", sans-serif;
  background-color: bisque;
}

#home {
  background-color: rgb(245, 245, 237);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#navbar {
  height: 200px;
  position: relative;
}
.cardmenu {
  width: 100%;
  height: 250px;
  background-color: rgb(250, 249, 246);
  position: relative;
  bottom: 50px;
  border-radius: 10px;
}
#footer {
  height: 50px;
  width: 660px;
  margin-top: 300px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  bottom: 0px;
}

#content-masuk {
}
.html5-qrcode-element {
  color: brown;
}

/* span {
  display: none;
} */
